.env
.env.*
!.env.example
*.log
*.txt
*.exe
yibovibe_server_linux
backend_out.txt
build.log
err.txt
golog.txt
golog2.txt
golog3.txt
gorm_error.txt
gorm_out.txt
gorm_out2.txt
gorm_out3.txt
.git
.gitignore
